nav .container{
    flex-direction: row-reverse;
}

.collapse ul li :hover{
    color: #d7d7d7ab !important; 
    cursor: pointer;
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* سایه زیر هدر */
 
}