/* ----------------------------
          header css
------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav .container {
  flex-direction: row-reverse;
}

.collapse ul li :hover {
  color: #d7d7d7ab !important;
  cursor: pointer;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* سایه زیر هدر */

}

/* ----------------------------
          end header css
------------------------------*/


/* ----------------------------
          home css
------------------------------*/
.home {
  background-color: #2d2d2d !important;
  background-size: cover;
  height: 80vh;
}

.text-justify {
  text-align: justify;
}

/* end */

/* line do taraf darbare dngi */
.line {
  background-color: #0dcaf0;
  width: 41px;
  height: 4px;
  border-radius: 11px;
  margin-right: 8px;
  margin-top: 10px;
}

.line1 {
  background-color: #0dcaf0;
  width: 15px;
  height: 4px;
  border-radius: 11px;
  margin-top: 10px;
  margin-right: 10px;
}

.line2 {
  background-color: #0dcaf0;
  width: 41px;
  height: 4px;
  border-radius: 11px;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 5px;
}

.line3 {
  background-color: #0dcaf0;
  width: 15px;
  height: 4px;
  border-radius: 11px;
  margin-left: 4px;
  margin-top: 10px;
}


/* line samt rast */

/* ----------------------------
home css
---------------------------------------------------*/




/* ================================
       about1 css 
*/

.line {
  /* width: 685px; */
  /* height: 85px; */
  top: 1171px;
  left: 357px;
  border-radius: 11px;
}


.about1 {
  background-image: url(../../img/ep_naturalblack.webp);
}

nav .container {
  flex-direction: row-reverse;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: row-reverse;
}

.collapse ul li :hover {
  color: #d7d7d7ab !important;
  cursor: pointer;
}


.line4-footer {
  background-color: #FD7702;
  width: 41px;
  height: 4px;
  border-radius: 11px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.line5-footer {
  background-color: #FD7702;
  width: 15px;
  height: 4px;
  border-radius: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.img-fluid {
  border-bottom-style: ridge;
  width: 195px;
  margin-top: 40px;
}

/* portfolio  */
/* card article------------------ */

/****** start of postcard section*********/





.img-article:hover {
  transform: scale(1.2);

}

.img-article {

  transition: transform 1s ease-in-out;
}

.card-thumbnail {
  overflow: hidden;
  border-radius: 10px;
}


/****** end of postcard section ********/

.card-body-article {
  /* card body text */
  text-align: justify;
}

/* ************************************ */

/*  */
.edame:hover {
  color: #FD7702 !important;
}

/* .my-portfolio{
background-image: url(../../img/ep_naturalblack.webp);
} */

.card-article {
  margin-bottom: 25px;
  margin-top: 25px;
}

.arrow,
.calendar {
  border: 1.5px solid #fd770258;
  border-radius: 50px;
}

.edame {
  cursor: pointer;
}

.edame:hover {
  color: #FD7702;
}

/* end  portfolio  */

/* ================================
    end about1 css 
*/


::placeholder {
  color: #b0b0b0 !important;

}




/* 00000000000000000000000000
footer css 
000000000000000000000000000000000000000000000000000000000*/


.footer-main {
  padding-top: 90px;
}

.address-main>div.col-lg-4 {
  border-bottom: 1px #999;
}

.address-box {
  padding: 10px 0;
  margin-bottom: 30px;
}

.add-content {
  padding-left: 70px;
}

.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}

.add-content p a {
  font-size: 14px;
  color: #b1b1b1;
  font-weight: 300;

}

.add-content {
  padding-left: 70px;
}

.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-content p {
  font-size: 13px;
  color: #ffffff;
  font-weight: 300;
}

.add-content p a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  word-wrap: break-word;
}

.add-content p a:hover {
  color: #ffb32d;
}

/* footer last */
.Copyright {
  background-color: #3434349e;
}


/* 00000000000000000000000000
end of footer css 
000000000000000000000000000000000000000000000000000000000*/



/* //////////////////////
 login css
================================= */

.login {
  background-image: url("../../img/ep_naturalblack.webp") !important;
}


.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad,
      #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right,
      #ff512f,
      #f09819);
  right: -30px;
  bottom: -80px;
}

form {
  width: 100%;
  border-radius: 10px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

/* //////////////////////
end login css
================================= */

/* gallery css */
div.gallery {
  border: 2px solid #ccc;
}

div.gallery:hover {
  border: 2px solid #FD7702;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  padding: 12px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cap {
  border: 2px solid #FD7702;
  padding: 10px;
}


/*  */



/***** start main ******/
p.text-start {
  padding-top: 10px;
}

.btn-send {
  width: 140px;
  background-color: #10CE45;
  color: white;
  border-style: none;
}

.btn-send:hover {
  background-color: white;
  color: #10CE45;
  border: 1px solid #10CE45;
}

.map img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.img-icon-map {
  background-image: url(../../images/Ellipse36.png);
  background-repeat: no-repeat;
  width: 200px;
}

.text-bold {
  font-weight: bold;
}

.bt {
  border: 2px solid #FD7702;
  border-radius: 8px;
  background-color: white;
  color: black;
  width: 200px;
}

.text-bold {
  font-weight: bold;
}

a.about-btn {
  gap: 5px;
  border: 3px solid #FD7702;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

.about-btn:hover {
  background-color: #e8a86f;
  color: white;
}

.rounded-circle.d-flex.justify-content-center.align-items-center {
  padding: 5px;
  width: 48px;
  height: 48px;
  background: #feddc0;
}

.rounded-circle.d-flex.justify-content-center.align-items-center {
  padding: 5px;
  width: 48px;
  height: 48px;
  background: #feddc0;
}

.mb-0 {
  margin-bottom: 1px;
}

/***** start dashboard ******/


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
  height: 550px
}

/* Set gray background color and 100% height */
.sidenav {
  float: right !important;
  background-color: white;
  height: 100vh;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {
    height: auto;
  }
}