/* header css ========================
================================================== */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav .container {
  flex-direction: row-reverse;
}

.collapse ul li :hover {
  color: #d7d7d7ab !important;
  cursor: pointer;
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* سایه زیر هدر */

}


/*end header css ========================
================================================== */



/* ----------------------------
home css
---------------------------------------------------*/
.home {
  background-color: #2d2d2d !important;
  background-size: cover;
  height: 80vh;
}

.text-justify {
  text-align: justify;
}

/* end */

/* line do taraf darbare dngi */
.line {
  background-color: #0dcaf0;
  width: 41px;
  height: 4px;
  border-radius: 11px;
  margin-right: 8px;
  margin-top: 10px;
}

.line1 {
  background-color: #0dcaf0;
  width: 15px;
  height: 4px;
  border-radius: 11px;
  margin-top: 10px;
  margin-right: 10px;
}

.line2 {
  background-color: #0dcaf0;
  width: 41px;
  height: 4px;
  border-radius: 11px;
  margin-top: 10px;
  margin-left: 8px;
  margin-right: 5px;
}

.line3 {
  background-color: #0dcaf0;
  width: 15px;
  height: 4px;
  border-radius: 11px;
  margin-left: 4px;
  margin-top: 10px;
}


/* line samt rast */

/* ----------------------------
home css
---------------------------------------------------*/




/* ================================
       about1 css 
*/

.line {
  /* width: 685px; */
  /* height: 85px; */
  top: 1171px;
  left: 357px;
  border-radius: 11px;
}


.about1 {
  background-image: url(../../img/ep_naturalblack.webp);
}

nav .container {
  flex-direction: row-reverse;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: row-reverse;
}

.collapse ul li :hover {
  color: #d7d7d7ab !important;
  cursor: pointer;
}


.line4-footer {
  background-color: #FD7702;
  width: 41px;
  height: 4px;
  border-radius: 11px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.line5-footer {
  background-color: #FD7702;
  width: 15px;
  height: 4px;
  border-radius: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.img-fluid {
  border-bottom-style: ridge;
  width: 195px;
  margin-top: 40px;
}

/* portfolio  */
/* card article------------------ */

/****** start of postcard section*********/





.img-article:hover {
  transform: scale(1.2);

}

.img-article {

  transition: transform 1s ease-in-out;
}

.card-thumbnail {
  overflow: hidden;
  border-radius: 10px;
}


/****** end of postcard section ********/

.card-body-article {
  /* card body text */
  text-align: justify;
}

/* ************************************ */

/*  */
.edame:hover {
  color: #FD7702 !important;
}

/* .my-portfolio{
background-image: url(../../img/ep_naturalblack.webp);
} */

.card-article {
  margin-bottom: 25px;
  margin-top: 25px;
}

.arrow,
.calendar {
  border: 1.5px solid #fd770258;
  border-radius: 50px;
}

.edame {
  cursor: pointer;
}

.edame:hover {
  color: #FD7702;
}

/* end  portfolio  */

/* ================================
    end about1 css 
*/






/* 00000000000000000000000000
footer css 
000000000000000000000000000000000000000000000000000000000*/


.footer-main {
  padding-top: 90px;
}

.address-main>div.col-lg-4 {
  border-bottom: 1px #999;
}

.address-box {
  padding: 10px 0;
  margin-bottom: 30px;
}

.add-content {
  padding-left: 70px;
}

.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}

.add-content p a {
  font-size: 14px;
  color: #b1b1b1;
  font-weight: 300;

}

.add-content {
  padding-left: 70px;
}

.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-content p {
  font-size: 13px;
  color: #ffffff;
  font-weight: 300;
}

.add-content p a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 300;
  word-wrap: break-word;
}

.add-content p a:hover {
  color: #ffb32d;
}

/* footer last */
.Copyright {
  background-color: #3434349e;
}


/* 00000000000000000000000000
end of footer css 
000000000000000000000000000000000000000000000000000000000*/




/* ////////////////////////////
          contact us 
/////////////////////////////////////////////////*/

.contact-us {
  background-image: url(../../img/noisy_net.png);
  padding-top: 85px;
}

h1 {
  font-weight: 600;
  font-size: 72px;
  color: white;
  text-align: center;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  color: #9b9b9b;
  line-height: 1.5;
}

/* ///// inputs /////*/

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {

  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  display: flex;
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
  align-items: center;
  justify-content: center;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #4b8cfb;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
    0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}



/* ////////////////////////////
         end contact us 
/////////////////////////////////////////////////*/

/* ///////////////////////////////////
  about2 css
                       ////////////////////////////////*/
#sidebar {
  width: 300px;
  height: 100%;
  background-image: url("../../img/ep_naturalblack.webp");
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.img-sidebar {
  size: 100%;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 50px;
}

.sidebar-logo ul li {
  display: inline;
  padding: 0px 10px;
  font-size: 18px;
  justify-content: center !important;
  align-items: center !important;
}

.p-sidebar {
  padding: 20px;
  justify-content: center;
  align-content: center;
}

.menu ul li {
  display: inline;
  padding: 0 15px;
  font-size: 14px;
  flex-direction: column;
}

.menu ul li a {
  color: white;
  font-weight: 600;
  flex-direction: column;
}

.menu ul i {
  color: #3C54C0;
}

#main-content {
  flex: 1;

  overflow-y: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.About {
  display: flex;
  padding: 50px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 225, 242);
}

.p-About {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mx {
  margin-right: 5px !important;
}

@media only screen and (max-width: 600px) {
  .project-si {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    overflow-x: auto;

  }
}

.card-s4sib {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  width: 100%;
}

.cap-s4sib {
  margin-top: 20px;
}

.Read-more {
  padding-inline-start: 148px;
}

.Read-more:hover {
  color: #FD7702;
}

/* ///////////////////////////////////
                      end about2 css
                                           ////////////////////////////////*/



/* //////////////////////
 login css
================================= */

.login {
  background-image: url("../../img/ep_naturalblack.webp") !important;
}


.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad,
      #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right,
      #ff512f,
      #f09819);
  right: -30px;
  bottom: -80px;
}

form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}

.social div:hover {
  background-color: rgba(255, 255, 255, 0.47);
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}

/* //////////////////////
end login css
================================= */

/* gallery css */
div.gallery {
  border: 2px solid #ccc;
}

div.gallery:hover {
  border: 2px solid #FD7702;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  padding: 12px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.cap {
  border: 2px solid #FD7702;
  padding: 10px;
}